// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins

@mixin title-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
@mixin body-font {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}